body {
	font-size:10pt;
	color:#000; 
	font-family:sans-serif;  
	background-color:#DACC8A;
	margin:0;
	padding:0;
}

a {
	font-size:10pt;
	color:#000252; 
	font-family:sans-serif; 
	text-decoration:none!important;
}

a:hover {
	text-decoration:underline!important;
}

.drag{
	position:relative;
	cursor:pointer;
	z-index: 100;
}

.button {
	background:#F6F2E2;
	padding:3px;
	border:1px black solid;
	line-height: 200%;
	font-size:10pt;
}

input, select {
	background: white;
	padding:3px;
	border: 1px black solid;
	font-size:10pt;
}

.infobox {
	position: absolute;
	top: 10px;
	left: 810px;
	border: 2px black solid;
}

.infobox input {
	vertical-align: middle;
}

.infobox div {
	white-space: nowrap;
}

.infobox input {
	width: 3em;
}
