img, .buttons div, .button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.clear {
	clear: both;
}

.guiBox {
	border: 2px black solid;
	margin: 10px;
	padding: 5px 7px;
}

.buttons div {
	float: left;
}

.buttons div, .button {
	border: 2px white solid;
	padding: 1px 3px;
	margin: 2px 2px;
	cursor: pointer;
}

.buttons div.disabled, .button.disabled {
	border: 2px gray solid;
	color: gray;
	cursor: default;
}

.imagebuttons div {
	padding-top: 26px;
	min-width: 20px;
	background-position: 50% 10%; 
	background-repeat: no-repeat;
}

.buttons div:hover, .button:hover {
	border-right: 2px gray solid;
	border-bottom: 2px gray solid;
	margin: 1px 3px 3px 1px;
}

.buttons div.disabled:hover, .button.disabled:hover {
	margin: 2px 2px;
}

#logo {
	position: absolute;
	width: 160px;
}

#version {
	text-align: center;
}

#guiBarTop {
	left: 174px;
	width: 970px;
	position: relative;
}

#guiBarLeft {
	width: 161px;
	height: 596px;
	margin-top: 0px;
	position: absolute;
	background-color: white;
	padding: 0px;
	overflow: auto;
	text-align: center;
}

#guiBarRight {
	width: 160px;
	height: 586px;
	margin-top: 0px;
	left: 983px;
	position: absolute;
}

#guiDrawingArea {
	margin: 10px;
	width: 50px;
	margin-top: 0px;
	margin-left: 24px;
	left: 160px;
	position: absolute;
	width: 800px;
	height: 600px;
}

#btnLaden {	background-image: url("../bilder/gui/laden.png");	}
#btnSpeichern {	background-image: url("../bilder/gui/speichern.png");	}
#btnRueck {	background-image: url("../bilder/gui/undo.png");	}
#btnVor {	background-image: url("../bilder/gui/redo.png");	}
#btnNeu {	background-image: url("../bilder/gui/neu.png");		}
#btnHg {	background-image: url("../bilder/gui/hintergrunz.png");	}
#btnBild {	background-image: url("../bilder/gui/import.png");	}
#btnText {	background-image: url("../bilder/gui/text.png");	}

#btnRueck.disabled {	background-image: url("../bilder/gui/dis/undo.png");	}
#btnVor.disabled {	background-image: url("../bilder/gui/dis/redo.png");	}

#grayscreen {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
}

#popMenuOuter {
	position: fixed;
	left: 50%;
	top: 20%;
}

#popMenu {
	background-color:#DACC8A;
	border: 2px black solid;
	position: relative;
	left: -50%;
}

#popMenuTitle {
	font-weight: bold;
	border-bottom: 2px black solid;
	height: 17px;
	padding: 5px;
	padding-right: 5ex;
}

#popMenu .button {
	float: right;
	width: 2ex;
	height: 2ex;
	text-align: center;

}

#popScreen {
	display: none;
}

.libraryButton {
	cursor: pointer;
}

.zeichen {
	position: absolute;
}

#Zeichenbereich {
	position: absolute;
}

.ft-container {
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
}

.ft-rotator {
	background-image: url('../bilder/gui/drehen.png');
	position: absolute;
	height: 16px;
	width: 16px;
	cursor: pointer;
	
}

.ft-scaler {
	cursor: pointer;
}

#Zeichenbereich {
	overflow: hidden;
}

img {
	image-rendering: optimizeQuality;  /* Firefox 3.6+; default behavior is identical, no need to specify */
	ms-interpolation-mode: bicubic;   /* Internet Explorer 7.0; default in IE8+ */
}
